# Description: Global Git config file
# Location: ~/.gitconfig

[user]
	name = <firstname> <lastname>
	email = <email@example.com>

[color]
	diff = auto
	interactive = auto
	ui = true
	status = auto
	branch = auto

[core]
	pager = less -FRSX
	editor = vim
	autocrlf = input
	safecrlf = true
	excludesfile = /home/<username>/.gitignore

[merge]
	tool = vimdiff

[url "git://github.com/"]
	insteadOf = http://github.com/

[alias]
	readd = !git diff --cached --name-only | xargs git add
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	tree = log --all --graph --format='%C(green)%h%Creset %C(yellow)%an%Creset %C(blue bold)%ad%Creset %s%C(red bold)%d' --date=relative --abbrev-commit --decorate
	di = diff
	dc = diff --cached
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	cim = commit -m
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
